/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(ItalianFood1.jpg) center center fixed;
	background-size: cover;
	position: relative;
	margin: auto;
	min-height: 100vh;
	max-width: 90em;
}

div.container { 
	position: relative;
	min-height: 100vh;
	margin: auto;
	max-width: 90em;
	background-color: rgb(250, 250, 250);	
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

main { 
	padding: 1em 2em 4em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

body {
	font-family: sans-serif;
	background-color:rgb(132, 132, 132);
}

header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background: rgb(205, 205, 205);
	padding: 1em 1em;
	}

h1 {
	width: 11em;
	font-family: "josefin-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	}

h2, h3, h4 {
	font-family: "josefin-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	}

h2 {
	font-size: 2em;
	margin: 1em 0 .5em;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 0 .5em;
}

h4 {
	color: rgb(144, 1, 1);
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 2em 0;
}	

main.menu ul li {
		margin: .25em 0 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: .25em 0 1em;
	font-family: "josefin-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	}

p.description {
	grid-column: 1/3;
	margin: 0;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(144, 1, 1);
	text-align: right;
	margin: 0;
	}


nav ul li.selected a { 
	background-color: rgb(144, 1, 1);
	color: rgb(250, 250, 250);
	}	
	
nav ul li {
	text-transform: uppercase;
	margin-bottom: 1em;
	font-family: "josefin-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	}
	
nav ul li a {
	color: rgb(144, 1, 1);
	padding: .25em .5em .25em;
	}
	
p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: 1em 0 2em;
	color: rgb(250, 250, 250);
	font-family: "josefin-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(144, 1, 1);
  color: rgb(255, 255, 255);
}

address {
	color: rgb(144, 1, 1);
	font-family: "josefin-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	}

address.index {
	color: rgb(255, 255, 255);
}

.home-container address:last-of-type {
	margin-bottom: 10em;
}

footer p {
	margin: 0;
}

article {
	margin: auto;
	max-width: 35em;
}

@media screen and (min-width: 60em) {
	
	nav ul li {
		display: inline;
		font-size: 1.2em;
	}

	nav {
		margin-top: 1.5em;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: 3fr 3fr;
		grid-column-gap: 6em;
	}	

}
